<a href="https://colab.research.google.com/github/gbhavika97/python/blob/main/for_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print (x)

apple
banana
cherry

In [3]:
for x in "banana":
  print (x)

b
a
n
a
n
a

In [4]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print (x)
  if x == "banana":
    break

apple
banana

In [6]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)


fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
apple
cherry

In [9]:
for x in range(6):
  print(x)

for x in range(2, 6):
  print(x)

for x in range(2, 30, 3):
  print(x)

0
1
2
3
4
5
2
3
4
5
2
5
8
11
14
17
20
23
26
29

In [10]:
for x in range(5):
  print(x)
else:
  print("Finally finished")

0
1
2
3
4
Finally finished

In [11]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished")

0
1
2

In [12]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [13]:
fruits = ["apple", "banana", "cherry"]
for i in range(len(fruits)):
  print(fruits[i])

apple
banana
cherry

In [14]:
fruits = ["apple", "banana", "cherry"]
i = 0
while i < len(fruits):
  print(fruits[i])
  i = i + 1

apple
banana
cherry

In [17]:
fruits = ["apple", "banana", "cherry"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)
print(newlist)


#List Comprehension

fruits = ["apple", "banana", "cherry"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana']
['apple', 'banana']

In [22]:
fruits = ["apple", "banana", "cherry"]
newlist = [x for x in fruits if x!= "apple"]
print(newlist)

newlist = [x for x in range(10) if x < 5]
print(newlist)

fruits = ["apple", "banana", "cherry"]
newlist = [x.upper() for x in fruits]
print(newlist)


fruits = ["apple", "banana", "cherry"]
newlist = ['hello' for x in fruits]
print(newlist)


fruits = ["apple", "banana", "cherry"]
newlist = [x if x!= "banana" else "orange" for x in fruits]
print(newlist)

['banana', 'cherry']
[0, 1, 2, 3, 4]
['APPLE', 'BANANA', 'CHERRY']
['hello', 'hello', 'hello']
['apple', 'orange', 'cherry']

In [23]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
for x in thisdict:
  print(thisdict[x])

Ford
Mustang
1964

In [26]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
for x in thisdict.values():
  print(x)


thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": "1964"
}
for x in thisdict.keys():
  print(x)


thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
for x, y in thisdict.items():
  print(x, y)

Ford
Mustang
1964
brand
model
year
brand Ford
model Mustang
year 1964