<a href="https://colab.research.google.com/github/gbhavika97/python/blob/main/functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def my_function():
  print("Hello World")

my_function()

Hello World

In [ ]:
def my_function(fname):
  print(fname + " walter")

my_function("Cole")
my_function("Alex")

Cole walter
Alex walter

In [ ]:
def my_function(fname, lname):
  print(fname + "" + lname)

my_function("Owen", "Cooper")

OwenCooper

In [ ]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emily", "Judy", "John")

The youngest child is John

In [ ]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emily", child2 = "John", child3 = "Steve")

The youngest child is Steve

In [ ]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Nancy", lname = "Wheeler")

His last name is Wheeler

In [ ]:
def my_function(country = "India"):
  print("I am from " + country)

my_function("Norway")
my_function("Germany")
my_function()

I am from Norway
I am from Germany
I am from India

In [ ]:
def my_function(fruits):
  for x in fruits:
    print(x)

fruits = ["apple", "banana", "cherry"]
my_function(fruits)

apple
banana
cherry

In [ ]:
def my_function(x):
  return 5 * x

print(my_function(5))
print(my_function(10))

25
50

In [ ]:
def my_function(x, /):
  print(x)

my_function(3)


def my_function(x):
  print(x)

my_function(x = 3)


#To specify that a function can only have keyword arguments
def my_function(*,x):
  print(x)

my_function(x = 3)

#Without the *, you are allowed to use positional arguments even if the function expects keyword arguments:

def my_function(x):
  print(x)

my_function(3)


def my_function(a, b, /, *, c, d):
  print(a+b+c+d)

my_function(5, 6, c = 7, d = 8)

3
3
3
3
26

In [1]:
def square(x):
  return x*x

square(10)

100

In [2]:
numbers = [1,2,3,4,5,6,7,8]

list(map(square, numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [3]:
str_numbers = ["1", "2", "3", "4", "5"]
int_numbers = list(map(int, str_numbers))
print(int_numbers)

[1, 2, 3, 4, 5]

In [4]:
words = ["apple", "banana", "cherry"]
upper_word = list(map(str.upper, words))
print(upper_word)

['APPLE', 'BANANA', 'CHERRY']

In [5]:
def get_name(person):
  return person['name']

people = [
    {'name': 'John', 'age': 30},
    {'name': 'Alex', 'age': 24}
]
list(map(get_name, people))

['John', 'Alex']

In [14]:
def even(num):
  if num%2 == 0:
    return True

even(24)

True

In [18]:
people = [
    {'name': 'John', 'age': 23},
    {'name': 'Alex', 'age': 25}
]

def age_greater_than_25(person):
  return person['age']>25

print(filter(age_greater_than_25, people))

<filter object at 0x7d3155163730>