<a href="https://colab.research.google.com/github/gbhavika97/python/blob/main/practice1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#python function to reverse a string
def reverse_string(s):
  return s[::-1]

s ="hello"
print(reverse_string(s))

olleh

In [ ]:
#python function to count the number of vowels in a string and return the count
def count_vowels(s):
  vowels = "aeiouAEIOU"
  count = 0
  for char in s:
    if char in vowels:
      count += 1
  return count

s = "Hello World"
print(count_vowels(s))

3

In [ ]:
#python function to check if the two strings are equal

def are_equal_strings(s, t):
  len_s = 0
  len_t = 0

  while len_s < len(s):
    len_s += 1
  while len_t < len(t):
    len_t += 1
  if len_s != len_t:
    return False
  for i in range(len_s):
    if s[i] != t[i]:
      return False
  return True

s = "hello, hello"
t = "Hello, hello"
print(are_equal_strings(s, t))

False

In [ ]:
#python function to count the words in a string

def count_words(s):
  words = s.split()
  return len(words)

s = "Python is fun to learn"
print(count_words(s))

5

In [1]:
#Assign the value of 100 to the variable m.
#With the help of the variable m, write one line of code where the output after execution would be 100 days.

m = 100
print(str(m), 'days')

100 days

In [2]:
#Produce an output equal to It's cool, isn't it?

print("It\'s cool, isn\'t it?")

It's cool, isn't it?

In [3]:
#Fix the string below.
#'Don't be shy

print("Don\'t be shy")

Don't be shy

In [4]:
#Produce an output equal to Click "OK".

print('Click "OK"')

Click "OK"

In [5]:
#Include a trailing comma in your line of code to produce Big Houses.

print('Big','Houses')

Big Houses

In [6]:
#Create a For loop that prints every digit on a new line.

digits = [0,1,2,3,4,5,6,7,8,9]

for i in digits:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [7]:
#Adjust the code, so the digits are all printed on the same line.

digits = [0,1,2,3,4,5,6,7,8,9]

for d in digits:
    print (d, end=" ")

0 1 2 3 4 5 6 7 8 9

In [8]:
#Create a while loop that will print all odd numbers from 0 to 30 on the same row.

x = 1

while x <= 30:
    print(x, end=" ")
    x += 2

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29

In [9]:
#Use the range() function to create a list with all numbers from 1 to 10.

list(range(1,11))
print(list(range(1,11)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
#Use the range() function to create a list with all numbers from 0 to 19.

list(range(0,20))
print(list(range(0,20)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [11]:
#Use the range() function to create a list with all even numbers from 0 to 30 included.

list(range(0,31,2))
print(list(range(0,31,2)))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [13]:
#Create a For loop that will print all the variables from a given list multiplied by 2. Let the list contain all numbers from 1 to 10. Create it with the help of the range() functio

for i in range(1, 11):
    print(2 * i)

2
4
6
8
10
12
14
16
18
20

In [17]:
#You are provided with the nums list. Define a function called count() containing a while loop to count the number of values in the nums list that are lower than 20.

nums = [1,35,12,24,31,51,70,100]

def count(nums):
    total = 0
    nums = sorted(nums)
    while nums[total] < 20:
            total += 1
    return total

print(count(nums))

2

In [18]:
#In this exercise you will use the same dictionaries as the ones we used in the lesson - prices and quantity. This time, don't just calculate all the money Jan spent. Calculate how much she spent on products with a price of 5 dollars or more

prices = {
    "box_of_spaghetti" : 4,
    "lasagna"  : 5,
    "hamburger" : 2
   }
quantity = {
    "box_of_spaghetti" : 6,
    "lasagna"  : 10,
    "hamburger" : 0
    }

money_spent = 0

for i in prices:
    if prices[i] >= 5:
        money_spent = money_spent + (prices[i] * quantity[i])
    else:
        money_spent = money_spent
print(money_spent)

50