<a href="https://colab.research.google.com/github/gbhavika97/python/blob/main/sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#duplicates will be ignored

thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

{'cherry', 'banana', 'apple'}

In [2]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
banana
apple

In [3]:
thisset = {"apple", "banana", "cherry"}

print("banana in thisset")

banana in thisset

In [4]:
thisset = {"apple", "banana", "cherry"}

print("banana" not in thisset)

False

In [5]:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")

print(thisset)

{'cherry', 'banana', 'apple', 'orange'}

In [7]:
thisset = {"apple", "banana", "cherry"}
demoset = {"kiwi", "melon", "orange"}
thisset.update(demoset)

print(thisset)

{'cherry', 'banana', 'apple', 'kiwi', 'melon', 'orange'}

In [8]:
thisset = {"apple", "banana", "cherry"}
thislist = ["kiwi", "orange"]
thisset.update(thislist)

print(thisset)

{'cherry', 'apple', 'kiwi', 'banana', 'orange'}

In [9]:
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [10]:
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

In [11]:
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()

print(x)
print(thisset)

cherry
{'banana', 'apple'}

In [12]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'c', 'b'}

In [13]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{1, 2, 3, 'a', 'c', 'b'}

In [15]:
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{1, 2, 3, 'c', 'a', 'b'}

In [16]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'a', 'c', 'b'}

In [18]:
set1 = {"a", "b", "c"}
set2 = {"d", "e", "a"}

set3 = set1.intersection(set2)
print(set3)

{'a'}

In [22]:
set1 = {"a", "b", "c"}
set2 = {"d", "e","a"}

set1.intersection_update(set2)
print(set1)

{'a'}

In [23]:
set1 = {"a", "b", "c"}
set2 = {"d", "e", "a"}

set3 = set1.difference(set2)
print(set3)

{'c', 'b'}

In [25]:
set1 = {"a", "b", "c"}
set2 = {"a", "d", "e"}

set1.difference_update(set2)
print(set1)

{'c', 'b'}

In [26]:
set1 = {"a", "b", "c"}
set2 = {"d","e", "a"}

set3 = set1.symmetric_difference(set2)
print(set3)

{'e', 'c', 'b', 'd'}