<a href="https://colab.research.google.com/github/gbhavika97/python/blob/main/tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [2]:
#tuples allow duplicate values

thistuple = ("apple", "banana", "cherry", "banana")
print(thistuple)

('apple', 'banana', 'cherry', 'banana')

In [3]:
thistuple = ("abc", 34, True, 50, "male")
print(thistuple)

('abc', 34, True, 50, 'male')

In [4]:
#use tuple() method to make a tuple

thistuple = tuple(("apple", "banana", "cherry"))
print(thistuple)

('apple', 'banana', 'cherry')

In [5]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [6]:
thistuple = ("apple", "banana", "cherry", "watermelon", "orange", "pineapple")
print(thistuple[-1])
print(thistuple[2:4])
print(thistuple[:2])
print(thistuple[2:])
print(thistuple[-3:-1])

pineapple
('cherry', 'watermelon')
('apple', 'banana')
('cherry', 'watermelon', 'orange', 'pineapple')
('watermelon', 'orange')

In [7]:
#to update a tuple, convert it into a list

x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [8]:
x = ("apple", "banana", "kiwi")
y = list(x)
y.append("orange")
x = tuple(y)

print(x)

('apple', 'banana', 'kiwi', 'orange')

In [9]:
x = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'watermelon', 'orange', 'pineapple', 'orange')

In [10]:
thistuple = ("apple", "banana", "cherry")
y = list(x)
y.remove("apple")
thistuple = tuple(y)

print(thistuple)

('banana', 'cherry')

In [11]:
fruits = ("apple", "banana", "cherry")

(green, red, yellow) = fruits

print(green)
print(red)
print(yellow)

apple
banana
cherry

In [12]:
fruits = ("apple", "banana", "cherry", "strawberry", "orange")

(green, red, *yellow) = fruits

print(green)
print(red)
print(yellow)

apple
banana
['cherry', 'strawberry', 'orange']

In [13]:
fruits = ("apple", "banana", "cherry", "strawberry", "orange")

(green, *yellow, red)

print(green)
print(yellow)
print(red)

apple
['cherry', 'strawberry', 'orange']
banana

In [14]:
tuple1 = ("red", "apple", "banana")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('red', 'apple', 'banana', 1, 2, 3)

In [15]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')